.flownav-top {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.flownav-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}
.flownav-bottom.hidden {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.flownav-bottom.transition-enabled {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: transform 0.4s;
  transition: transform 0.4s;
}
.flownav {
  background-color: white;
}
.flownav-header {
  height: 60px;
}
.flownav-header .logo {
  height: 25px;
  margin: 18px 0 0 18px;
  position: absolute;
}
.flownav-header .logo.next-article-displayed {
  -ms-transform: scale(0.64);
  -webkit-transform: scale(0.64);
  transform: scale(0.64);
  margin: 18px 0 0 -11.52px;
}
.flownav-header .logo.transition-enabled {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.flownav-header .menu-square {
  float: right;
  position: absolute;
  right: 20px;
  top: 7px;
  height: 53px;
  overflow: hidden;
}
.flownav-header .menu-square .icon-hamburger {
  top: 15px;
}
.flownav-header .menu-square .icon-hamburger.hidden {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.flownav-header .menu-square .icon-hamburger.transition-enabled {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}
.flownav-header .menu-square.active > span > span {
  background-color: #0093ec;
}
.flownav-header .next-article-background {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 60px;
}
.flownav-header .next-article-background .image {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 36%;
}
.flownav-header .next-article-background .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-90deg, #ffffff 15%, rgba(255, 255, 255, 0.52) 100%);
}
.flownav-header .next-article-background .gradient-left {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 40%);
}
.flownav-header .next-article-background.visible {
  opacity: 1;
}
.flownav-header .next-article-background.transition-enabled {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.flownav-header .flownav-next-article {
  position: absolute;
  right: 20px;
  top: -30px;
}
.flownav-header .flownav-next-article.visible {
  -ms-transform: translateY(45px);
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
}
.flownav-header .flownav-next-article.transition-enabled {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}
.flownav-header .flownav-next-article:active {
  opacity: 0.5;
}
.flownav-header .flownav-next-article span {
  float: right;
}
.flownav-header .flownav-next-article .icon {
  color: #199CF1;
  margin: 5px 0 0 20px;
}
.flownav-header .flownav-next-article .next-label,
.flownav-header .flownav-next-article .article-title {
  display: block;
  line-height: 18px;
  clear: right;
}
.flownav-header .flownav-next-article .next-label {
  color: #199CF1;
  font-size: 14px;
}
.flownav-header .flownav-next-article .article-title {
  color: rgba(0, 0, 0, 0.4);
  line-height: 16px;
  font-size: 12px;
  max-width: 115px;
  overflow: hidden;
  text-transform: uppercase;
}
.flownav-menu {
  height: 50px;
  border: solid 1px #F0F0F0;
  background-color: #F5F5F5;
  clear: both;
  max-height: 60px;
  overflow: hidden;
}
.flownav-menu.hidden {
  max-height: 0px;
  border: none;
}
.flownav-menu.transition-enabled {
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.flownav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flownav-menu ul li {
  width: calc(20%);
  display: inline-block;
  text-align: center;
  font-size: 8px;
  float: left;
  height: 50px;
}
.flownav-menu ul li.white {
  background-color: white;
}
.flownav-menu ul li.highlighted {
  background-color: white;
}
.flownav-menu ul li:active {
  opacity: 0.5;
}
.flownav-menu .menu-item-wrapper {
  width: 100%;
  height: 36px;
  display: block;
  margin-top: 8px;
}
.flownav-menu .menu-item-wrapper.bordered {
  border-right: solid 1px rgba(0, 0, 0, 0.05);
}
.flownav-menu .menu-item-wrapper .icon {
  opacity: 0.5;
  line-height: 20px;
  font-size: 20px;
}
.flownav-menu .menu-item-wrapper .icon.wo-label {
  margin-top: 6px;
  font-size: 24px;
}
.flownav-menu .menu-item-wrapper .icon.has-notifications {
  color: #0093EC;
  opacity: 1;
}
.flownav-menu .menu-item-wrapper .icon.has-notifications:after {
  content: "\2022";
  color: #ED2024;
  top: -13px;
  position: relative;
  font-size: 30px;
  margin-left: -7px;
}
.flownav-menu .menu-item-wrapper .menu-label {
  color: #7A7A7A;
  opacity: 0.7;
  font-size: 12px;
  line-height: 12px;
  display: block;
  text-transform: none;
  margin-top: 13px;
  padding: 0;
  width: 100%;
}
.flownav-menu .active {
  color: #0093EC !important;
}
.search {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.search div {
  padding: 20px 10px 0 20px;
}
.search input {
  display: inline-block;
  width: 75%;
}
.user-menu {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.write-post {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
section.content {
  margin-top: 130px;
  margin-bottom: 60px;
}
.helloka {
  margin-top: 25px;
}
.helloka p {
  padding: 15px;
}
.helloka p a {
  font-size: 24px;
  display: block;
}
